* {
  margin: 0;
  padding: 0;
}
.card-body .star {
  margin-right: 40px;
}
.rating-star ul li {
  display: inline;
  font-size: smaller;
}
.card-text {
  font-size: small;
}
.price {
  font-weight: bold;
}
/* Logo section style */

.top {
  background: #dfd8c5;
  margin-bottom: 40px;
  padding-bottom: 30px;
  width: 98%;
  margin: 0 auto;
  margin-bottom: 40px;
  height: fit-content;
  border-radius: 20px;
  box-shadow: 9px 6px 9px black;
  border-bottom: solid 1px;
  position: sticky;
  top: 20px;
  z-index: 300;
}
.Logo {
  font-size: 32px;
  font-weight: 600;
  margin-right: 100px;
  margin-bottom: 10px;
  text-shadow: 2px 1px 6px;
}
/* Nav section */
.navbar-nav li {
  margin-right: 30px;
}
/* Footer Section */
footer {
  border-top: solid 1px;
}
.footer-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.copy-right {
  text-align: center;
  margin-top: 10px;
}
.footer-links ul,
.address,
.social {
  padding: 10px;
}
.footer-links li,
.contact-us a,
.social ul {
  display: block;
  margin: 10px;
}
.social ul li {
  display: inline-block;
  margin: 0 10px;
}
h3 {
  text-align: center;
}

/* Menu Styles */
.menu {
  display: flex;
  justify-content: space-evenly;
}
.menu-footer-data {
  display: flex;
  justify-content: space-between;
}
.menu-social div {
  display: inline-block;
  margin: 10px;
}
body a {
  text-decoration: none;
  color: black;
}
.menu-shadow {
  position: relative;
  color: black;
  text-decoration: none;
  margin-top: 20px;
}
.menu-card-btn:hover {
  display: block;
  z-index: 2;
  transition: 0.1s;
  width: 85%;
  height: 40px;
  top: 14px;
  left: 16.5px;
  position: absolute;
  background-color: #ddc19c;
  border-radius: 10px;
  line-height: 1.5rem;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.menu-card-btn {
  display: block;
  z-index: 2;
  transition: 0.1s;
  width: 85%;
  height: 40px;
  top: 11px;
  left: 14px;
  position: absolute;
  background-color: #c59d79;
  border-radius: 10px;
  line-height: 1.5rem;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.menu-card-btns {
  display: block;
  background-color: rgba(0, 0, 0, 0.685);
  border-radius: 10px;
  z-index: 1;
  width: 85%;
  height: 40px;
  top: 17px;
  left: 20px;
  position: absolute;
}
/* home styles */
.home-img {
  border-radius: 20px;
}
.first-homecard {
  display: flex;
  flex-direction: row;
}

.Discount {
  display: flex;
  justify-content: space-evenly;
}
